<div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  topcol" >
				<p class="toptitle">Preview QC</p>
			</div>
		</div>

 <br>

		<div class="row">
			<div class="col-md-9 col-sm-9 col-xs-9 col-xs-offset-1 midcol" >
				<h5 class="midTitle">Container Details</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 col-sm-9 col-xs-9 col-xs-offset-1 midcol" >
				  <div id="stepPreviewDateTime">Date & Time : 2018-05-06 12:34</div>
				  <div id="stepPreviewConainerNo">Container Number : xxx xxx</div>
				  <div id="stepPreviewLocation">Nearest Location : Waterfront, Cape Town</div>
			</div>
		</div>

   		<div class="row">
			<div class="col-md-9 col-sm-9 col-xs-9 col-xs-offset-1 midcol" >
				<h5 class="midTitle">List of PUCs</h5>
			</div>
		</div>

		<div class="row">
			<div class="col-md-9 col-sm-9 col-xs-9 col-xs-offset-1 midcol" id="stepPreviewPucCodes">

			</div>
		</div>
   <br>
   <!-- <div class="arrow bounce" id="scrollDownArrow"> -->
     <!-- <a class="fa fa-arrow-down fa-2x" href="#"></a> -->
   <!-- </div> -->
	<div id="stepPreviewPucNoContent">
   		<div class="row">
			<div class="col-md-9 col-sm-9 col-xs-9 col-xs-offset-1 midcol" >
				<h5 class="midPucTitle" id="stepPreviewPucCodesNo">PUC 123-456: Summary </h5>
			</div>
		</div>
		<div class="row">
			 <div class="col-md-9 col-sm-9 col-xs-9 col-xs-offset-1 midcol" id="stepPreviewPucNoDetails">
					<div id="stepPreviewPucWeight">Weight : </div>
					<div id="stepPreviewPucPressure">Pressure :</div>
					<div id="stepPreviewPucBrix">Brix : </div>
					<div id="stepPreviewPucTemprature">Temperature : </div>
					<div id="stepPreviewPucOther">Other : </div>
			  </div>
			 <div class="col-md-2 col-sm-2 col-xs-2 midColGrading" id="stepPreviewPucNoGrading">
					<div id="stepPreviewPucWeightGrading"><img class="selectImg" src="assets/img/green64x64.png">&nbsp;</div>
					<div id="stepPreviewPucPressureGrading"><img class="selectImg" src="assets/img/green64x64.png">&nbsp;</div>
					<div id="stepPreviewPucBrixGrading"><img class="selectImg" src="assets/img/green64x64.png">&nbsp;</div>
					<div id="stepPreviewPucTemperatureGrading"><img class="selectImg" src="assets/img/green64x64.png">&nbsp;</div>
					<div id="stepPreviewPucOtherGrading"><img class="selectImg" src="assets/img/green64x64.png">&nbsp;</div>
			  </div>
		</div>

		<div class="row">
			 <div class="col-md-11 col-sm-1 col-xs-11 col-xs-offset-1 midcol" id="stepPreviewPucNoComments">
				<div id="stepPreviewPucComments">Comments : </div>
			 </div>
		</div>

   		<div class="row">
			<div class="col-md-9 col-sm-9 col-xs-9 col-xs-offset-1 midcol" >
				<h5 class="midGradingTitle" id="stepPreviewPucCodesOverall">Overall Grading<span><img class="selectImg" src="assets/img/green64x64.png"></span></h5>
			</div>
		</div>



   		<div class="row">
			<div class="col-md-9 col-sm-9 col-xs-9 col-xs-offset-1 midcol" >
				<h5 class="midPucTitle" id="stepPreviewPucCodesPhotos">PUC 123-456: Photos</h5>
			</div>
		</div>

        <div class="row" style="margin-top:15px;">
            <div class="col-md-12 col-xs-10 col-xs-offset-1" style="text-align:center;">
				<img src="" class="img-fluid z-depth-4 placeholderImg imgFrame fileToUploadSrc" alt="1">
				<div class="mask flex-center waves-effect waves-light">
					<p id="imageLabel"class="white-text" >Weight</p>
				</div>
			</div>
        </div>

        <div class="row" style="margin-top:15px;">
            <div class="col-md-12 col-xs-10 col-xs-offset-1" style="text-align:center;">
				<img src="" class="img-fluid z-depth-4 placeholderImg imgFrame fileToUploadSrc" alt="1">
				<div class="mask flex-center waves-effect waves-light">
					<p id="imageLabel"class="white-text" >Pressure</p>
				</div>
			</div>
        </div>

		<div class="row" style="margin-top:15px;">
            <div class="col-md-12 col-xs-10 col-xs-offset-1" style="text-align:center;">
				<img src="" class="img-fluid z-depth-4 placeholderImg imgFrame fileToUploadSrc" alt="1">
				<div class="mask flex-center waves-effect waves-light">
					<p id="imageLabel"class="white-text" >Brix</p>
				</div>
			</div>
        </div>

		<div class="row" style="margin-top:15px;">
            <div class="col-md-12 col-xs-10 col-xs-offset-1" style="text-align:center;">
				<img src="" class="img-fluid z-depth-4 placeholderImg imgFrame fileToUploadSrc" alt="1">
				<div class="mask flex-center waves-effect waves-light">
					<p id="imageLabel"class="white-text" >Temperature</p>
				</div>
			</div>
        </div>

		<div class="row" style="margin-top:15px;">
            <div class="col-md-12 col-xs-10 col-xs-offset-1" style="text-align:center;">
				<img src="" class="img-fluid z-depth-4 placeholderImg imgFrame fileToUploadSrc" alt="1">
				<div class="mask flex-center waves-effect waves-light">
					<p id="imageLabel"class="white-text" >Internal Quality</p>
				</div>
			</div>
        </div>

		<div class="row" style="margin-top:15px;">
            <div class="col-md-12 col-xs-10 col-xs-offset-1" style="text-align:center;">
				<img src="" class="img-fluid z-depth-4 placeholderImg imgFrame fileToUploadSrc" alt="1">
				<div class="mask flex-center waves-effect waves-light">
					<p id="imageLabel"class="white-text" >External Quality</p>
				</div>
			</div>
        </div>


    </div>
    <br>
        <div class="form-row flex-center">

              <button type="button" eltarget = "dashboardContent" url="views/quality/stepSummary.html" class="btn button btn-primary rounded">Back</button>

              <button type="button" eltarget = "dashboardContent" url="views/quality/stepSend.html" class="btn button btn-primary rounded">Finish</button>
        </div>
    <br>
</div>
<script>
$(document).ready(function(){
  var top=0;

  $(window).scroll(function(){
    var st=$(this).scrollTop();
    if($(window).scrollTop() + window.innerHeight == $(document).height()){
      $("#scrollDownArrow").css("display","none");

    }else{
       $("#scrollDownArrow").css("display","block");

    }
  });

  $('#stepPreviewDateTime').html("Date & Time : " + contianerDetails.date_created);
  $('#stepPreviewConainerNo').html("Container Number : " + contianerDetails.number);
  $('#stepPreviewLocation').html("Nearest Location : " + contianerDetails.location);
  $.each(listPuc,function(){
    $('#stepPreviewPucCodes').append('<div id="stepPreviewDateTime">'+this + '</div>');
  });
  $('#stepPreviewPucNoContent').html(" ");
  for (i in contianerDetails.puc) {

  if (!contianerDetails.puc[i].weight_grading) contianerDetails.puc[i].weight_grading = 0;
  if (!contianerDetails.puc[i].pressure_grading) contianerDetails.puc[i].pressure_grading = 0;
  if (!contianerDetails.puc[i].brix_grading) contianerDetails.puc[i].brix_grading = 0;
  if (!contianerDetails.puc[i].temperature_grading) contianerDetails.puc[i].temperature_grading = 0;
  if (!contianerDetails.puc[i].custom_grading) contianerDetails.puc[i].custom_grading = 0;
  if (!contianerDetails.puc[i].overall_grading) contianerDetails.puc[i].overall_grading = 0;

    var pucDetailsContent = '<div class="row">'
	+'	<div class="col-md-9 col-sm-9 col-xs-9 col-xs-offset-1 midcol" >'
	+'		<h5 class="midPucTitle" id="stepPreviewPucCodesNo">PUC '+contianerDetails.puc[i].number+': Summary </h5>'
	+'	</div>'
	+'</div>'

	+'	<div class="row">'
	+'		 <div class="col-md-9 col-sm-9 col-xs-9 col-xs-offset-1 midcol" id="stepPreviewPucNoFruittype">'
	+'				<div id="stepPreviewPucFruit">Fruit type : '+contianerDetails.puc[i].fruit_type+'</div>'
	+'				<div id="stepPreviewPucVariety">Fruit variety : '+contianerDetails.puc[i].fruit_variety+'</div>'
	+'		 </div>'
	+'	</div>'
	+'	<div class="row">'
	+'		 <div class="col-md-9 col-sm-9 col-xs-9 col-xs-offset-1 midcol" id="stepPreviewPucNoDetails">'
	+'				<div id="stepPreviewPucWeight">Weight : '+contianerDetails.puc[i].weight+' g</div>'
	+'				<div id="stepPreviewPucPressure">Pressure : '+contianerDetails.puc[i].pressure+' g</div>'
	+'				<div id="stepPreviewPucBrix">Brix : '+contianerDetails.puc[i].brix+' °Bx </div>'
	+'				<div id="stepPreviewPucTemprature">Temperature : '+contianerDetails.puc[i].temperature+' °C</div>'
	+'				<div id="stepPreviewPucOther">Other : '+contianerDetails.puc[i].custom+ ' '+contianerDetails.puc[i].custom_metric+ '</div>'
	+'		  </div>'
	+'		 <div class="col-md-2 col-sm-2 col-xs-2 midColGrading" id="stepPreviewPucNoGrading">'
	+'				<div id="stepPreviewPucWeightGrading">'
	+'					<img class="selectImg" src="'+grading_images_src[contianerDetails.puc[i].weight_grading]+'">&nbsp;</div>'
	+'				<div id="stepPreviewPucPressureGrading">'
	+'					<img class="selectImg" src="'+grading_images_src[contianerDetails.puc[i].pressure_grading]+'">&nbsp;</div>'
	+'				<div id="stepPreviewPucBrixGrading">'
	+'					<img class="selectImg" src="'+grading_images_src[contianerDetails.puc[i].brix_grading]+'">&nbsp;</div>'
	+'				<div id="stepPreviewPucTemperatureGrading">'
	+'					<img class="selectImg" src="'+grading_images_src[contianerDetails.puc[i].temperature_grading]+'">&nbsp;</div>'
	+'				<div id="stepPreviewPucOtherGrading">'
	+'					<img class="selectImg" src="'+grading_images_src[contianerDetails.puc[i].custom_grading]+'">&nbsp;</div>'
	+'		  </div>'
	+'	</div>'

	+'		<div class="row">'
	+'			 <div class="col-md-11 col-sm-1 col-xs-11 col-xs-offset-1 midcol" id="stepPreviewPucNoComments">'
	+'				<div id="stepPreviewPucComments">Comments : </div>'
	+'				<div id="stepPreviewPucComments">'+contianerDetails.puc[i].additional_comments+'</div>'
	+'			 </div>'
	+'		</div>'

   	+'		<div class="row">'
	+'			<div class="col-md-9 col-sm-9 col-xs-9 col-xs-offset-1 midcol" >'
	+'				<h5 class="midGradingTitle" id="stepPreviewPucCodesOverall">Overall Grading<span>'
	+'					<img class="selectImg" src="'+grading_images_src[contianerDetails.puc[i].overall_grading]+'"></span></h5>'
	+'			</div>'
	+'		</div>'

   	+'		<div class="row">'
	+'			<div class="col-md-9 col-sm-9 col-xs-9 col-xs-offset-1 midcol" >'
	+'				<h5 class="midPucTitle" id="stepPreviewPucCodesPhotos">PUC '+contianerDetails.puc[i].number+': Photos</h5>'
	+'			</div>'
	+'		</div>';

	if (contianerDetails.puc[i].weight_image_temp_data)
	{
	pucDetailsContent = pucDetailsContent +'<div class="row" style="margin-top:15px;">'
    +'      <div id="imageHolderWeightPrev" class="col-md-12 col-xs-10 col-xs-offset-1" style="text-align:center;">'
	+'			<img id="weightFileToUploadSrcPrev" src="'+contianerDetails.puc[i].weight_image_temp_data+'" class="img-fluid z-depth-4 placeholderImg imgFrame fileToUploadSrc" alt="1">'
	+'			<div class="mask flex-center waves-effect waves-light">'
	+'				<p id="imageLabel"class="white-text" >Weight</p>'
	+'			</div>'
	+'		</div>'
    +'   </div>';
	}

	if (contianerDetails.puc[i].pressure_image_temp_data)
	{
	pucDetailsContent = pucDetailsContent +'<div class="row" style="margin-top:15px;">'
    +'        <div id="imageHolderPressurePrev" class="col-md-12 col-xs-10 col-xs-offset-1" style="text-align:center;">'
	+'			<img id="pressureFileToUploadSrcPrev" src="'+contianerDetails.puc[i].pressure_image_temp_data+'" class="img-fluid z-depth-4 placeholderImg imgFrame fileToUploadSrc" alt="1">'
	+'			<div class="mask flex-center waves-effect waves-light">'
	+'				<p id="imageLabel"class="white-text" >Pressure</p>'
	+'			</div>'
	+'		</div>'
    +'    </div>';
	}

	if (contianerDetails.puc[i].brix_image_temp_data)
	{
	pucDetailsContent = pucDetailsContent +'<div class="row" style="margin-top:15px;">'
    +'        <div id="imageHolderBrixPrev" class="col-md-12 col-xs-10 col-xs-offset-1" style="text-align:center;">'
	+'			<img id="brixFileToUploadSrcPrev"  src="'+contianerDetails.puc[i].brix_image_temp_data+'" class="img-fluid z-depth-4 placeholderImg imgFrame fileToUploadSrc" alt="1">'
	+'			<div class="mask flex-center waves-effect waves-light">'
	+'				<p id="imageLabel"class="white-text" >Brix</p>'
	+'			</div>'
	+'		</div>'
    +'    </div>';
	}

	if (contianerDetails.puc[i].temperature_image_temp_data)
	{
	pucDetailsContent = pucDetailsContent +'<div class="row" style="margin-top:15px;">'
    +'        <div id="imageHolderTemperaturePrev" class="col-md-12 col-xs-10 col-xs-offset-1" style="text-align:center;">'
	+'			<img id="temperatureFileToUploadSrcPrev"  src="'+contianerDetails.puc[i].temperature_image_temp_data+'" class="img-fluid z-depth-4 placeholderImg imgFrame fileToUploadSrc" alt="1">'
	+'			<div class="mask flex-center waves-effect waves-light">'
	+'				<p id="imageLabel"class="white-text" >Temperature</p>'
	+'			</div>'
	+'		</div>'
    +'    </div>';
    }


	if (contianerDetails.puc[i].internal_image_temp_data)
	{
	pucDetailsContent = pucDetailsContent +'<div class="row" style="margin-top:15px;">'
    +'        <div id="imageHolderInternalPrev" class="col-md-12 col-xs-10 col-xs-offset-1" style="text-align:center;">'
	+'			<img id="internalFileToUploadSrcPrev"  src="'+contianerDetails.puc[i].internal_image_temp_data+'" class="img-fluid z-depth-4 placeholderImg imgFrame fileToUploadSrc" alt="1">'
	+'			<div class="mask flex-center waves-effect waves-light">'
	+'				<p id="imageLabel"class="white-text" >Internal Quality</p>'
	+'			</div>'
	+'		</div>'
    +'    </div>';
	}

	if (contianerDetails.puc[i].external_image_temp_data)
	{
	pucDetailsContent = pucDetailsContent +'<div class="row" style="margin-top:15px;">'
    +'        <div id="imageHolderExternalPrev" class="col-md-12 col-xs-10 col-xs-offset-1" style="text-align:center;">'
	+'			<img id="externalFileToUploadSrcPrev"  src="'+contianerDetails.puc[i].external_image_temp_data+'" class="img-fluid z-depth-4 placeholderImg imgFrame fileToUploadSrc" alt="1">'
	+'			<div class="mask flex-center waves-effect waves-light">'
	+'				<p id="imageLabel"class="white-text" >External Quality</p>'
	+'			</div>'
	+'		</div>'
    +'    </div>';
	}


    $('#stepPreviewPucNoContent').append(pucDetailsContent);

	  //setImageCSS('weightFileToUploadSrc','imageHolderWeight','weightImageRotationValue');
	if (contianerDetails.puc[i].weight_image_temp_data)
	{
		if (contianerDetails.puc[i].weight_image_orientation > 0)
			setImageCSS('weightFileToUploadSrcPrev','imageHolderWeightPrev',contianerDetails.puc[i].weight_image_orientation);
		$('#weightFileToUploadSrcPrev').css({
			  "-webkit-transform": "rotate("+contianerDetails.puc[i].weight_image_orientation+"deg)",
			  "-moz-transform": "rotate("+contianerDetails.puc[i].weight_image_orientation+"deg)",
			  "transform": "rotate("+contianerDetails.puc[i].weight_image_orientation+"deg)" /* For modern browsers(CSS3)  */
		});
	}
	if (contianerDetails.puc[i].pressure_image_temp_data)
	{
		if (contianerDetails.puc[i].pressure_image_orientation > 0)
			setImageCSS('pressureFileToUploadSrcPrev','imageHolderPressurePrev',contianerDetails.puc[i].pressure_image_orientation);
		$('#pressureFileToUploadSrcPrev').css({
			  "-webkit-transform": "rotate("+contianerDetails.puc[i].pressure_image_orientation+"deg)",
			  "-moz-transform": "rotate("+contianerDetails.puc[i].pressure_image_orientation+"deg)",
			  "transform": "rotate("+contianerDetails.puc[i].pressure_image_orientation+"deg)" /* For modern browsers(CSS3)  */
		  });
	}
	if (contianerDetails.puc[i].brix_image_temp_data)
	{
		if (contianerDetails.puc[i].brix_image_orientation > 0)
			setImageCSS('brixFileToUploadSrcPrev','imageHolderBrixPrev',contianerDetails.puc[i].brix_image_orientation);
		$('#brixFileToUploadSrcPrev').css({
			  "-webkit-transform": "rotate("+contianerDetails.puc[i].brix_image_orientation+"deg)",
			  "-moz-transform": "rotate("+contianerDetails.puc[i].brix_image_orientation+"deg)",
			  "transform": "rotate("+contianerDetails.puc[i].brix_image_orientation+"deg)" /* For modern browsers(CSS3)  */
		  });
	}
	if (contianerDetails.puc[i].temperature_image_temp_data)
	{
		if (contianerDetails.puc[i].temperature_image_orientation > 0)
			setImageCSS('temperatureFileToUploadSrcPrev','imageHolderTemperaturePrev',contianerDetails.puc[i].temperature_image_orientation);
		$('#temperatureFileToUploadSrcPrev').css({
			  "-webkit-transform": "rotate("+contianerDetails.puc[i].temperature_image_orientation+"deg)",
			  "-moz-transform": "rotate("+contianerDetails.puc[i].temperature_image_orientation+"deg)",
			  "transform": "rotate("+contianerDetails.puc[i].temperature_image_orientation+"deg)" /* For modern browsers(CSS3)  */
		  });
	}
	if (contianerDetails.puc[i].internal_image_temp_data)
	{
		if (contianerDetails.puc[i].internal_image_orientation > 0)
			setImageCSS('internalFileToUploadSrcPrev','imageHolderInternalPrev',contianerDetails.puc[i].internal_image_orientation);
		$('#internalFileToUploadSrcPrev').css({
			  "-webkit-transform": "rotate("+contianerDetails.puc[i].internal_image_orientation+"deg)",
			  "-moz-transform": "rotate("+contianerDetails.puc[i].internal_image_orientation+"deg)",
			  "transform": "rotate("+contianerDetails.puc[i].internal_image_orientation+"deg)" /* For modern browsers(CSS3)  */
		  });

	}
	if (contianerDetails.puc[i].external_image_temp_data)
	{
		if (contianerDetails.puc[i].external_image_orientation > 0)
			setImageCSS('externalFileToUploadSrcPrev','imageHolderExternalPrev',contianerDetails.puc[i].external_image_orientation);
		$('#externalFileToUploadSrcPrev').css({
			  "-webkit-transform": "rotate("+contianerDetails.puc[i].external_image_orientation+"deg)",
			  "-moz-transform": "rotate("+contianerDetails.puc[i].external_image_orientation+"deg)",
			  "transform": "rotate("+contianerDetails.puc[i].external_image_orientation+"deg)" /* For modern browsers(CSS3)  */
		  });

	}

	 // console.log('weight rotation: '+contianerDetails.puc[i].weight_image_orientation);













  }


});
</script>
