<div>
  <nav class="navbar fixed-top navbar-dark primary-color navTitle">
    <i class="fa navIcons fa-bars"></i>
      <h3 class="mx-auto navbar-brand">Login</h3> 
  </nav>
 
  <div id="forgotPasswordContent" >
	 
  <div class="spacer"></div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12  topcol" >
			<p class="toptitle" >Forgot Password</p>
		</div>
	</div>

	<div class="topWarning"><p id="forgotPasswordMsg"></p></div>

		<div class="row rowstyle">
				<div class="col-md-5 col-xs-5 ffblue" >
					<p class="inputLeft">Enter Mobile:</p>
				</div>
				<div class="col-md-7 col-xs-7" >
					<input type="number" class="form-control" id="forgotPasswordMobile" placeholder="number">

					<!-- <input type="text" style="width:100%;padding-top:5px;padding-bottom:2px;line-height:10px;border:none;outline:none;text-decoration:none;"> -->
				</div>
				<!-- <div class="col-md-12 col-xs-2 ffwhite"> -->
					<!-- <p style="margin:0p;margin-bottom:0px;padding-top:2px;padding-bottom:4px;color:#274775;padding-right:0px;">°C </p>  -->
				<!-- </div> -->
		</div> 

		<div class="spacer20"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  topcol" >
				<p class="medTitle">OR</p>
			</div>
		</div>		
		
		<div class="row rowstyle20">
				<div class="col-md-5 col-xs-5 ffblue" >
					<p class="inputLeft">Enter Email:</p>
				</div>
				<div class="col-md-7 col-xs-7" >
					 <input type="email" class="form-control" id="forgotPasswordEmail" placeholder="email">

					<!-- <input type="text" style="width:100%;padding-top:5px;padding-bottom:2px;line-height:10px;border:none;outline:none;text-decoration:none;"> -->
				</div>
				<!-- <div class="col-md-12 col-xs-2 ffwhite"> -->
					<!-- <p style="margin:0p;margin-bottom:0px;padding-top:2px;padding-bottom:4px;color:#274775;padding-right:0px;">°C </p>  -->
				<!-- </div> -->
		</div> 		

	  <div class="spacer20"></div>		

      <div class="form-row flex-center">

            <button href="index.html" class="btn btn-primary rounded" onClick="window.location.reload()">Back</button>

            <button type="button" action="resetPassword" eltarget = "forgotPasswordContent" url="views/login/forgotPasswordReset.html" class="btn button btn-primary rounded">Next</button>
      </div>

   </div>

</div>
