
    <div>
      
		<div class="spacer"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  topcol" >
				<p class="toptitle" >Reset Password</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  topcol" >
				<label class="medTitle" for="inputEmail4" id="forgetPasswordHeader">Enter temporary Password <br>sent to *** *** 762</label>			
			</div>
		</div>
		
		<div class="topWarning"><p id="forgotPasswordMsg"></p></div>
		
		<div class="row rowstyle">
				<div class="col-md-7 col-xs-7 ffblue" >
					<p class="inputLeft">Temp Password:</p>
				</div>
				<div class="col-md-5 col-xs-5" >
					<input type="text" class="form-control" id="forgotPasswordResetTemp" placeholder="********">

					<!-- <input type="text" style="width:100%;padding-top:5px;padding-bottom:2px;line-height:10px;border:none;outline:none;text-decoration:none;"> -->
				</div>
				<!-- <div class="col-md-12 col-xs-2 ffwhite"> -->
					<!-- <p style="margin:0p;margin-bottom:0px;padding-top:2px;padding-bottom:4px;color:#274775;padding-right:0px;">°C </p>  -->
				<!-- </div> -->
		</div> 
		
		<div class="spacer20"></div>	
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  topcol" >
				<label class="medTitle" for="inputEmail4" id="forgetPasswordEnter">Please enter a new password</label>			
			</div>
		</div>		
		
		<div class="row rowstyle">
				<div class="col-md-7 col-xs-7 ffblue" >
					<p class="inputLeft">New Password:</p>
				</div>
				<div class="col-md-5 col-xs-5" >
					 <input type="text" class="form-control" id="forgotPasswordResetNew" placeholder="********">

					<!-- <input type="text" style="width:100%;padding-top:5px;padding-bottom:2px;line-height:10px;border:none;outline:none;text-decoration:none;"> -->
				</div>
				<!-- <div class="col-md-12 col-xs-2 ffwhite"> -->
					<!-- <p style="margin:0p;margin-bottom:0px;padding-top:2px;padding-bottom:4px;color:#274775;padding-right:0px;">°C </p>  -->
				<!-- </div> -->
		</div> 

		<div class="row rowstyle">
				<div class="col-md-7 col-xs-7 ffblue" >
					<p class="inputLeft">Repeat Password:</p>
				</div>
				<div class="col-md-5 col-xs-5" >
					<input type="text" class="form-control" id="forgotPasswordResetRepeat" placeholder="********">

					<!-- <input type="text" style="width:100%;padding-top:5px;padding-bottom:2px;line-height:10px;border:none;outline:none;text-decoration:none;"> -->
				</div>
				<!-- <div class="col-md-12 col-xs-2 ffwhite"> -->
					<!-- <p style="margin:0p;margin-bottom:0px;padding-top:2px;padding-bottom:4px;color:#274775;padding-right:0px;">°C </p>  -->
				<!-- </div> -->
		</div> 

		<div class="spacer20"></div>		

      <div class="form-row flex-center">

            <button type="button" eltarget = "forgotPasswordContent" url="views/login/forgotPassword.html" class="btn button btn-primary rounded">Back</button>

            <button type="button" action="updatePassword" eltarget = "forgotPasswordContent" url="views/login/forgotPasswordSuccess.html" class="btn button btn-primary rounded">Next</button>
            <!-- <button type="button" eltarget = "forgotPasswordContent" url="views/login/forgotPasswordError.html" class="btn button btn-primary">Error</button> -->
            <!-- <button type="button" eltarget = "forgotPasswordContent" url="views/login/forgotPasswordWarning.html" class="btn button btn-primary">Warning</button> -->
      </div>

   </div>

   <script>
     $('#forgetPasswordHeader').html('Enter temporary Password <br>sent to '+ sentto);
   </script>
