<div>
	<div class="topWarning"><p id="qcMsg"></p></div>
	
   <div>
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-9 col-xs-offset-1 topcol" >
                <p class="toptitle">Container Details </p>
            </div>
        </div>

        <div class="row rowstyle">
            <div class="col-md-12 col-xs-6 ffblue" >
                <p class="inputLeft"> Container No.</p>
            </div>
            <div class="col-md-12 col-xs-6" >
				<input type="text" class="form-control py-0" id="stepContainerContainerNo"  placeholder="Container No.">
                <!-- <input type="text" style="width:100%;padding-top:5px;padding-bottom:2px;line-height:10px;border:none;outline:none;text-decoration:none;"> -->
            </div>
            <div class="col-md-12 col-xs-2 ffwhite">
                <!-- <p style="margin:0p;margin-bottom:0px;padding-top:2px;padding-bottom:4px;color:#274775;padding-right:0px;">g </p> -->
            </div>
        </div>
		<div class="row">
			 <div class="col-xs-6 col-xs-offset-3">
				<img id="stepContainerLoader" src="assets/img/location_loader3.gif">
			</div>
		</div>
        <div class="row rowstyle">
            <div class="col-md-6 col-xs-6 ffblue">
                <p class="inputLeft">Nearest Location</p>
            </div>
            <div class="col-md-6 col-xs-6 ffwhite">
              <select id="stepContainerLocation" class="stepContainerSelect PucWidth selectstyle">

                  <option value="" selected>Select</option>

              </select>
            </div>
        </div>

       <div class="row rowstyle">
            <div class="col-md-5 col-xs-5 ffblue">
                <p class="inputLeft">PUC#</p>
            </div>
            <div class="col-md-7 col-xs-7 ffwhite">
				<select id="stepContainerPuc"  pucArr="0" class="selectPuc browser-default PucWidth selectstyle">
				</select>
            </div>
        </div>


         <div id="stepContainerAdd"></div>

       <div></div>


	    <div class="row">
			<div class="col-md-5 col-xs-5 addmargin">
				<button type="button" id="stepContainerAddPuc" class="btn btn-primary roundbtnlow">Add PUC</button>
			</div>
	   </div>
    </div>
    <br>
    <div id="stepContainerMap" ></div>
    <div class="form-row flex-center">
		<button eltarget = "mainContent" url="views/dashboard/dashboard.html" type="button" class="btn button btn-primary rounded">Back</button>

      <button action ="stepContainerDetails" eltarget = "dashboardContent" url="views/quality/stepSummary.html" type="button" class="btn button btn-primary rounded">NEXT: CAPTURE DATA</button>
    </div>

</div>

<script>
$( document ).ready(function() {
   var options = "";
  $("#stepContainerAddPuc").click(function(){


    contianerDetails.puc_count = +contianerDetails.puc_count + 1;
    var idname = "stepContainerPuc" + contianerDetails.puc_count;
    var pucSelect = "<div class='row' style='padding-left:0;border:3px #274775 solid;border-radius:7px;padding-right:4px;margin-right:18px;margin-left:15px;margin-top:30px;'><div class='col-md-5 col-xs-5' style='background-color:#274775;'><p style='margin:0p;margin-bottom:0px;padding-top:4px;padding-bottom:4px;color:#fff;'>PUC#</p></div> <div class='col-md-7 col-xs-7' style='background-color:#fff;padding-right:0px;padding-top:2px;'><select  pucArr=" +contianerDetails.puc_count+ " class='selectPuc browser-default PucWidth selectstyle'>"
	  +  options + "</select></div></div>";

    $("#stepContainerAdd").append(pucSelect);

  });
  $('.stepContainerSelect').hide();

  getLocationConstant();

  $.ajax({
    type: "POST",
    url: "api/allPucs.php",
    data : {'apikey': "cd8f23a8e07a223e8d89f3fbf42c3874"},
    dataType: "html",
    success: function(data){
            $('#stepContainerPuc').append(data);
            options = data;
    },
    failure: function(errMsg) {
        console.log(errMsg);
    }
  });

});
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsPwk7dWzfWyAq4wbiYnZzJ931at5SnUk&libraries=places" async defer></script>
