<div class="center-align">
  <div class="space10"> </div>
  <div class="row">
     <div class="input-field">
       <input id="email" type="email">
       <label for="code" >Enter email Addres</label>
     </div>
     <div class="input-field">
       <input id="password" type="password">
       <label for="code2" >Please enter Password</label>
     </div>
   </div>
  <div class="row">
      <button class="waves-effect waves-light btn-large center-align blue button" type="button"  style="width : 100%" action ="Dashboard" eltarget = "mainContent" url="views/dashboard/dashboard.html"><i class="material-icons left">map</i>Login</a>
  </div>
  <!-- <div class="row">
    <button class="waves-effect waves-light btn-large center-align green button" type="button"  style="width : 100%"><i class="material-icons left">settings</i>Reset Password</button>
  </div> -->
</div>
