<div>
  <nav class="navbar fixed-top navbar-dark primary-color navTitle">
    <i class="fa navIcons fa-bars"></i>
      <h3 class="mx-auto navbar-brand">Register</h3> 
  </nav>
  
  <div class="spacer"></div>

  		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  topcol" >
				<p class="toptitle" id="registerDobHeader"></p>
			</div>
		</div>
		
       <div class="row rowstyle">
            <div class="col-md-12 col-xs-6 ffblue" >
                <p class="inputLeft">Date of Birth:</p>
            </div>
            <div class="col-md-12 col-xs-6" >
				<input type="text" class="form-control py-0" id="registerDobDate"  placeholder="mm/dd/yyy">

                <!-- <input type="text" style="width:100%;padding-top:5px;padding-bottom:2px;line-height:10px;border:none;outline:none;text-decoration:none;"> -->
            </div>
            <!-- <div class="col-md-12 col-xs-2 ffwhite"> -->
                <!-- <p style="margin:0p;margin-bottom:0px;padding-top:2px;padding-bottom:4px;color:#274775;padding-right:0px;">°C </p>  -->
            <!-- </div> -->
        </div>
		
        <div class="row rowstyle">
            <div class="col-md-12 col-xs-6 ffblue" >
                <p class="inputLeft">Position / Role:</p>
            </div>
            <div class="col-md-12 col-xs-6" >
				<input type="text" class="form-control py-0" id="registerDobPosition"  placeholder="">

                <!-- <input type="text" style="width:100%;padding-top:5px;padding-bottom:2px;line-height:10px;border:none;outline:none;text-decoration:none;"> -->
            </div>
            <!-- <div class="col-md-12 col-xs-2 ffwhite"> -->
                <!-- <p style="margin:0p;margin-bottom:0px;padding-top:2px;padding-bottom:4px;color:#274775;padding-right:0px;">°C </p>  -->
            <!-- </div> -->
        </div>			
		

    
    <div class="spacer50"></div>
    <div class="form-row flex-center">
      <button type="button" eltarget = "mainContent" url="views/register/registerDetails.html" class="btn button btn-primary rounded">Back</button>

      <button action="registerDob" type="button" eltarget = "mainContent" url="views/register/registerPassword.html" class="btn button btn-primary rounded">Next</button>
    </div>

</div>


<script>
$('#registerDobHeader').html('User Registartion at ' + globalRegCode);

</script>
